<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Classifier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@tensorflow/tfjs"></script>
    <script src="https://unpkg.com/@tensorflow-models/mobilenet"></script>    
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">             
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="/">Image Classifier</a>          
      </div>
  </nav>
  <div class="container">
      <div id="content" style="margin-top:2em">{% block main_content %}{% endblock %}</div>
  </div>  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>     
</body>
</html>